<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排行榜里的诗，总有你喜欢的</title>
    <link rel="stylesheet" type="text/css" href="../static/rank/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/rank/css/htmleaf-demo.css">
    <link rel="stylesheet" href="../static/rank/css/style.css">
</head>
<body>

<figure class="logo logo--top js-trigger">
    <img src="../static/rank/img/logo.svg">
</figure>

<a href="#" target="_blank" class="resize">
    <div class="resize__inner">
        <figure class="logo logo--resize">
            <img src="../static/rank/img/logo.svg">
        </figure>
        <p>Please view in <span>full page</span> mode</p>
    </div>
</a>

<!--todo 修改-->
<a href="#" class="hi">
    双击古诗查看详情☺
</a>

<a href="/index" rel="nofollow"
   class="menu-btn js-menu-btn">
    <div class="menu-btn__circles">
        <span class="menu-btn__circle menu-btn__circle--top js-menu-btn__circle--top"></span>
        <span class="menu-btn__circle menu-btn__circle--bottom js-menu-btn__circle--bottom"></span>
    </div>
    <div class="menu-btn__text">返回首页</div>
</a>

<div class="scroll" data-scroll>

    <nav class="filter">
        <ul class="filter__list">
            <li class="filter__item">
                <a href="#" class="filter__link is-active js-trigger">
                    <div class="filter__link-mask" area-hidden><span>周榜</span></div>
                    查看周榜
                </a>
            </li>
            <li class="filter__item">
                <a href="#" class="filter__link js-trigger">
                    <div class="filter__link-mask" area-hidden><span>月榜</span></div>
                    查看月榜
                </a>
            </li>
        </ul>
    </nav>

    <div class="scroll-content" data-scroll-content>
        <div th:each="info:${rankList}">
            <article th:class="${info.classType}">
                <div class="slide__inner">
                    <div class="slide__img js-transition-img">
                        <figure class="js-transition-img__inner">
                            <img th:src="${info.picLinkUrl}" draggable="false">
                        </figure>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="scroll-content scroll-content--last" data-scroll-content>
        <div th:each="info,status:${rankList}">
            <article th:class="${info.classType}">
                <div class="slide__inner">
                    <div class="slide__sub-title"><span>[[${info.poem.dynasty}]]</span></div><br>
                    <h1 class="slide__title">
                        <div class="js-transition-title">[[${status.index}+1]] - [[${info.poem.poemName}]]</div>
                    </h1>
                    <div class="slide__img slide__img--proxy" ondblclick="window.open('http://www.baidu.com','_self')">
                        [[${info.poem.content}]]
                    </div>
                    <div class="slide__project">[[${info.poem.poetName}]]</div>
                </div>
            </article>
        </div>
    </div>


    <div class="scrollbar" data-scrollbar>
        <div class="scrollbar__handle js-scrollbar__handle"></div>
    </div>

</div>

<div class="mask js-mask">
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__slice js-mask__slice"></div>
    <div class="mask__inner">
        <figure class="logo logo--mask">
            <img class="js-logo" src="../static/rank/img/logo.svg">
        </figure>
        <div class="mask-line js-mask-line">
            <div class="mask-line__inner js-mask-line"></div>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js'></script>
<script src='../static/rank/js/imagesloaded.pkgd.min.js'></script>
<script src="../static/rank/js/script.js"></script>
</body>
</html>